<html>
<head>

</head>

<body>

    <h2>Decryption Algorithms</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="CaesarDecryption">Caesar</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="MonoalphabeticDecryption">Monoalphabetic</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="PlayfairDecryption">Playfair</a>


</body>
</html>

