<html>
<head>

</head>

<body>

    <h2>Encryption Algorithms</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="CaesarEncryption">Caesar</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="MonoalphabeticEncryption">Monoalphabetic</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="PlayfairEncryption">Playfair</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="HillCipherEncryption">Hill Cipher</a>


</body>
</html>

