<html>
    <head>

    </head>

    <body>

        <h2>Monoalphabetic Cipher</h2>

        <form method="post">

            <div class="form-group">
                <label>String</label>
                <input type="text" class="form-control" id="plainText" name="plainText" />
            </div>

            <div class="form-group">
                <label>Key</label>
                <input type="text" class="form-control" id="key" name="key" />
            </div>

            <button class="btn btn-success" type="submit">Decrypt</button>
        </form>

        <div class="form-control">
            <label>Decryption: </label>
            @ViewBag.Massage
        </div>

    </body>
</html>
