<html>
<head>

</head>

<body>

    <h2>Playfair Cipher</h2>

    <form method="post">

        <div class="form-group">
            <input type="text" class="form-control" id="plainText" name="plainText" placeholder="String: " style="width: 50%"/>
        </div>
        <br />

        <div class="form-group">
            <input type="number" class="form-control" id="Key" name="Key" placeholder="Key: " style="width: 50%" />
        </div>
        <br />

        <button class="btn btn-primary" type="submit">Decrypt</button>

    </form>
    <br />

    <div class="form-control" style="width: 50%">
        <label>Decryption: </label>
        @ViewBag.Massage
    </div>

    <a class="btn btn-primary" asp-area="" asp-controller="Security" asp-action="Decryption" style="margin-top: 10%; margin-left:50%;">Back</a>

</body>
</html>
