<html>
<head>

</head>

<body class="bg-dark">

    <h2 class="text-light">AES</h2>

    <div class="column">
        <form method="post">

            <div class="form-group">
                <input type="text" class="form-control" id="plainText" name="plainText" placeholder="PlainText : " required />
            </div>
            <br />
            <div class="form-group">
                <input type="text" class="form-control" id="key" name="key" placeholder="Key : " required />
            </div>
            <br />
            <div class="form-group">
                <input type="text" class="form-control" id="iv" name="iv" placeholder="Iv : " required />
            </div>
            <br />
            <button class="btn btn-primary" type="submit">Decrypt</button>

        </form>
        <br />

        <div class="form-control">
            <label></label>
            @ViewBag.Massage
        </div>
    </div>
    <div class="column" id="Example">
        <p class="text-light">Example: </p>
        <div class="form-control">
            <label>Plaintext: </label>
            KHS32jN6f4goIafBUDhmXUKo8+XUERrl0pg6ldzn6/k=
        </div>
        <br />
        <div class="form-control">
            <label>Key: </label>
            ojs#hf(9ndo@j4hDn$8b$j@9b$un$j5$
        </div>
        <br />
        <div class="form-control">
            <label>Plaintext: </label>
            TTd#fl)fn!bv4P0vh_
        </div>
        <br />
        <div class="form-control">
            <label>Decryption: </label>
            The attack will be today
        </div>
    </div>
    <div class="clear"></div>

    <div class="cont">
        <a id="back" class="btn btn-primary" asp-area="" asp-controller="Cryptography" asp-action="Decryption">Back</a>
    </div>


</body>

<style>
    /* CSS styles for the page */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    .clear {
        clear: both;
    }

    .form-control {
        width: 80%
    }

    #key {
        width: 48%
    }

    #iv {
        width: 26%
    }

    .cont {
        text-align: center;
    }

        .cont a {
            display: inline-block;
            margin-top: 30px;
        }

    #Example {
        opacity: 0.9;
    }

    h2 {
        margin-top: 10%;
    }
</style>

</html>
