@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="feature">
    <h1>@ViewData["Title"]</h1>
</div>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="feature">
            <p>please confirm your account</p>
        </div>
        <div class="cont">
            <a class="btn btn-primary" id="confirm-link" href="@Model.EmailConfirmationUrl">Confirm</a>
        </div>
    }
    else
    {
        <p>Please check your email to confirm your account.</p>
    }
}

<style>
    /* CSS styles for the page */
    .feature {
        flex-basis: 30%;
        text-align: center;
    }

        .feature i {
            font-size: 48px;
        }

        .feature h1 {
            margin-top: 10%;
            font-size: 50px;
        }

        .feature p {
            font-size: 24px;
        }
    .cont {
        text-align: center;
    }

        .cont a {
            display: inline-block;
            margin-top: 10px;
        }

</style>

