<div class="column">
        <form method="post">

            <div class="form-group">
                <input type="text" class="form-control" id="plainText" name="plainText" placeholder="PlainText : " required/>
            </div>
            <br />

            <div class="form-group">
                <input type="text" class="form-control" id="key" name="key" placeholder="Key : " required/>
            </div>
            <br />

            <button class="btn btn-primary" type="submit">Decrypt</button>

        </form>
        <br />

        <div class="form-control">
            <label>Decryption: </label>
            @ViewBag.Massage
        </div>
    </div>