<html>
<head>

</head>

<body>

    <h2 class="text-light">Vernam Cipher</h2>

    <div class="column">
        <form method="post">

            <div class="form-group">
                <input type="text" class="form-control" id="ciphertext" name="ciphertext" placeholder="Ciphertext : " required />
            </div>
            <br />

            <div class="form-group">
                <input type="text" class="form-control" id="key" name="key" placeholder="Key : " required />
            </div>
            <br />

            <button class="btn btn-primary" type="submit">Decrypt</button>

        </form>
        <br />

        <div class="form-control" id="form-control">
            <label>Decryption: </label>
            @ViewBag.Massage
        </div>
    </div>
    <div class="column" id="Example">
        <p class="text-light">Example: </p>
        <div class="form-control">
            <label>Ciphertext: </label>
            1001111000101100011100010
        </div>
        <br />
        <div class="form-control">
            <label>Key: </label>
            01010001
        </div>
        <br />
        <div class="form-control">
            <label>Decryption: </label>
            1100111101111101001000000
        </div>
    </div>
    <div class="clear"></div>

    <div class="cont">
        <a id="back" class="btn btn-primary" asp-area="" asp-controller="Cryptography" asp-action="Decryption">Back</a>
    </div>


</body>

<style>
    /* CSS styles for the page */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    .clear {
        clear: both;
    }

    .form-control {
        width: 80%
    }

    .cont {
        text-align: center;
    }

        .cont a {
            display: inline-block;
            margin-top: 30px;
        }

    #Example {
        opacity: 0.9;
    }

    h2 {
        margin-top: 10%;
    }
</style>

</html>
