<html>
<head>

</head>

<body class="bg-dark">

    <h2 class="text-light">Autokey Cipher</h2>

    <div class="column">
        <form method="post">

            <div class="form-group">
                <input type="text" class="form-control" id="plainText" name="plainText" placeholder="PlainText : " required/>
            </div>
            <br />

            <div class="form-group">
                <input type="text" class="form-control" id="key" name="key" placeholder="Key : " maxlength="1" required />
            </div>
            <br />

            <button class="btn btn-primary" type="submit">Encrypt</button>

        </form>
        <br />

        <div class="form-control" id="form-control">
            <label>Encryption: </label>
            @ViewBag.Massage
        </div>
    </div>

    <div class="column" id="Example">
        <p class="text-light">Example: </p>
        <div class="form-control">
            <label>Plaintext: </label>
            The attack will be today
        </div>
        <br />
        <div class="form-control">
            <label>Key: </label>
            a
        </div>
        <br />
        <div class="form-control">
            <label>Encryption: </label>
            TALETMTCMGETWMFXHRDY
        </div>
    </div>
    <div class="clear"></div>

    <div class="cont">
        <a id="back" class="btn btn-primary" asp-area="" asp-controller="Cryptography" asp-action="Encryption">Back</a>
    </div>


</body>

<style>
    /* CSS styles for the page */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    .clear {
        clear: both;
    }

    .form-control {
        width: 80%
    }

    #key {
        width: 15%
    }

    .cont {
        text-align: center;
    }

        .cont a {
            display: inline-block;
            margin-top: 30px;
        }

    #Example {
        opacity: 0.9;
    }

    h2 {
        margin-top: 10%;
    }
</style>

</html>
