@{
    ViewData["Title"] = "Home";
}

<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-dark">
    <div class="feature">
        <h1 class="text-light">Cryptography</h1>
        <p class="text-light">the way to secure your messages</p>
    </div>
</body>

<style>
    /* CSS styles for the page */
    .feature {
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
        .feature h1 {
            margin-top: 10%;
            font-size: 100px;
            font-weight: bold;
        }

        .feature p {
            font-size: 35px;
        }
</style>
