@{
    ViewData["Title"] = "Home";
}

<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="feature">
        <i class="fa fa-mobile"></i>
        <h1>Cryptography</h1>
        <p>the way to secure your messages</p>
    </div>
</body>

<style>
    /* CSS styles for the page */
    .feature {
        flex-basis: 30%;
        text-align: center;
    }

        .feature i {
            font-size: 48px;
        }

        .feature h1 {
            margin-top: 10%;
            font-size: 50px;
        }

        .feature p {
            font-size: 24px;
        }
</style>
